<component name="ArtifactManager">
  <artifact type="war" name="mybatis-plus:war">
    <output-path>$PROJECT_DIR$/../spring-sharding-jdbc-mybatis-plus/mybatis-plus/target</output-path>
    <root id="archive" name="mybatis-plus.war">
      <element id="artifact" artifact-name="mybatis-plus:war exploded" />
    </root>
  </artifact>
</component>